.avatar {
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }
}

.avatar-menu {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar-64{
  img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-left: 10px;
  }
}
